{% extends 'base.html' %}
{%  block style %}
     .atitle{
    font-size:40px;
    font-family:"微软雅黑";
    padding:20px 0px;
    }
    .li_name{
    font-size:15px;
    font-family:"微软雅黑";
    }
    li{
    line-height:40px;
    display:flex;
    justify-content:space-between;
    }
    .containers{
    width:80%;
    margin:0 auto;
    margin-bottom:100px;
    }
{%  endblock %}
{% block center %}
 <script type="text/javascript" src="../../../static/jquery-3.5.1/jquery-3.5.1.min.js"></script>
<link rel="stylesheet"    href= "../../../static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
<script src="../../../static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="../../../static/layui-v2.6.8/layui/css/layui.css">
    <script src="../../../static/layui-v2.6.8/layui/layui.js"></script>

    <div class="media">
        <div class="media-left media-middle">
            <a href="#">
                <img class="media-object" src="../../static/avatar/{{ tch_info.account }}.jpg"
                     alt="{{ tch_info.account }}" width="180px" height="" id="imag_id">
            </a>
        </div>
        <div class="media-body">
            <h3 class="media-heading">{{ tch_info.Eng_name }}</h3>

            <p><a src="http://www.njust.edu.cn/">Nanjing University of Science and Technology</a></p>


            <p>Email : {{ tch_info.email }}</p>

             <p id="profile">{{ tch_info.profile }}<a onclick="tran();">[中文版]</a></p>

        </div>
    </div>


    <hr>
    <ul>
    {% if journal|length >0 %}
        <div class="atitle" id="title_jn">部分论文</div>
            {% for row in journal %}
                {% if row.is_hide==0%}
                <li class="jn_li" id="{{ row.display.id }}" value="{{ row['author'] }}">
                    <div class="li_name">{{ row.display }}

                    </div>
                </li>
                {% endif%}
           {% endfor %}
    {% endif %}

    {% if patent_info|length >0 %}
        <div class="atitle" id="title_patent">专利</div>
        {% for row in patent_info %}
            {% if row.is_hide==0%}

                <li class="patent_li"  id="{{ row.id }}">
                    <div class="li_name">{{  row.display }} </div>
                </li>
            {% endif %}
        {% endfor %}
    {% endif %}

    {% if honor_info|length >0 %}
        <div class="atitle" id="title_honor">荣誉</div>
        {% for row in honor_info %}
            {% if row.is_hide==0%}
                <li class="honor_li"  id="{{ row.id }}">
                    <div class="li_name">{{  row.display }} </div>
                </li>
            {% endif %}
        {% endfor %}
    {% endif %}

    {% if program|length >0%}
        <div class="atitle" id="title_pro">项目</div>
        {% for row in program %}
            {% if row.is_hide==0%}
                {# <li class="prog_li" id="{{ row.id }}">
            <div class="li_name">{{ row.display.pro_source }}, "{{ row.display.name }}" , {{ row.display.start_time }} - {{ row.display.deadline }} ,
                {% if row.display.cost !='None' and row.display.cost !='' %}
                    {{ row.display.cost }}万
                {% else %}
                        {{ row.display.fund }}万（直接经费）
                {% endif %}
                    {% if tch_info.name== row.display.principal %}
                        {{  row.display.role }}
                    {% else %}
                        参与
                    {% endif %}
                    </div>
                </li> #}
                <li class="prog_li"  id="{{ row.id }}">
                    <div class="li_name">{{  row.display }} </div>
                </li>
            {% endif %}
        {% endfor %}
    {% endif %}

    {% if social_info|length >0%}
        <div class="atitle" id="title_social">社会兼职</div>
        {% for row in social_info %}
            {% if row.is_hide==0 %}
                <li class="social_li" id="{{ row.id }}" >
            <div class="li_name">{{  row.display}} </div>
                </li>
            {% endif %}
        {% endfor %}
    {% endif %}

    {% if course_info|length >0 %}
        <div class="atitle" id="title_course">课程</div>
        {% for row in course_info %}
            {% if row.is_hide==0%}
                <li class="course_li"  id="{{ row.id }}">
                    <div class="li_name">{{  row.display}} </div>
                </li>
            {% endif%}
        {% endfor %}
    {% endif %}

    {% if competition|length >0 %}
        <div class="atitle" id="title_comp">竞赛</div>
        {% for row in competition %}
            {% if row.is_hide==0%}

                <li class="comp_li" id="{{ row.id }}" >
                    {# <div class="li_name">{{ row.display.participant  }}, {{ row.display.name }}  {{ row.display.ranking }} , 指导老师:  {{ row.display.teachers }}  </div> #}
                    <div class="li_name">{{ row.display }}</div>
                </li>
            {% endif%}
        {% endfor %}
    {% endif %}

    {% if mono_info |length >0 %}
        <div class="atitle" id="title_mono">专著</div>
        {% for row in mono_info %}
            {% if row.is_hide==0 %}
                <li class="mono_li"  id="{{ row.id }}">
                <div class="li_name">{{  row.display }} </div>
                </li>
            {% endif %}
        {% endfor %}
    {% endif %}

    {% if soft_info|length >0 %}
        <div class="atitle" id="title_soft">软著</div>
        {% for row in soft_info %}
            {% if row.is_hide==0 %}
                <li class="soft_li" id="{{ row.id }}">
                    <div class="li_name">{{  row.display }} </div>
                </li>
            {% endif %}
        {% endfor %}
    {%  endif %}

    {{ others_info }}

    </ul>
<script>
     var Serve1={
     profile_eng:{{ tch_info.profile|tojson }},
     profile_ch:{{ tch_info.profile_c|tojson }},
     account:{{ tch_info.account|tojson }}
 }
    tranx=function (){
      pro=document.getElementById("profile")
      temp=document.createElement("a")
      temp.innerText="[中文版]"
     pro.innerText=Serve1.profile_eng
     temp.onclick=tran
     pro.appendChild(temp)
 }
  tran=function (){
        pro=document.getElementById("profile")
        temp=document.createElement("a")
        temp.innerText="[English Version]"
        temp.onclick=tranx
        pro.innerText=Serve1.profile_ch
        pro.appendChild(temp)
       }
</script>
{% endblock %}
