{% extends 'base.html' %}
{% block center %}


    <div class="card">
{#    <h2 class="card-header" align="center">{{ Conf[0].paper_name }}</h2>#}
    <h2 class="card-header" align="center">{{ conf.name }}</h2>
    <h4 class="card-header"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>{{ conf.author }}</h4>
    <div class="card-body">
        <table class="table table-hover table-bordered table-striped">
            <thead class="thead-light">
                <tr>

                    <th scope="col">会议名称</th>
                    <th scope="col">会议组织者</th>
                    <th scope="col">会议日期</th>
                    <th scope="col">发表日期</th>
                    <th scope="col">起止页码</th>
                    <th scope="col">会议地址</th>
                    <th scope="col">文章号</th>
                    <th scope="col">DOI</th>
                    <th scope="col">收录情况</th>
                    <th scope="col">收录号</th>
                    <th scope="col">CCF分区</th>
                    <th scope="col">引用次数</th>

                </tr>

            </thead>
            <tbody>
{#            {% for row in conf %}#}

                <tr>

                    <td> {{ conf.name }}</td>
                    <td> {{ conf.organizer }}</td>
                    <td> {{ conf.dat }}</td>
                    <td> {{ conf.paper_dat }}</td>
                    <td> {{ conf.page }}</td>
                    <td> {{ conf.address }}</td>
                    <td> {{ conf.num }}</td>
                    <td> {{ conf.DOI }}</td>
                    <td> {{ conf.employ }}</td>
                    <td> {{ conf.employ_num }}</td>
                    <td> {{ conf.ccf }}</td>
                    <td> {{ conf.times }}</td>

                </tr>

            </tbody>
        </table>
    </div>
</div>
    <p>原论文链接：<a href="{{ conf.link }}">{{ conf.link }}</a></p>
    <p>代码链接：<a href="{{ conf.code_link }}">{{ conf.code_link }}</a></p>




<iframe src="../{{conf.encd}}"  type="application/pdf" width="100%" height="700px"  id="frame" ></iframe>



<script>
frame.onload=function (event) {
    let that = document.getElementById('frame')
    const isLoaded = event.target.contentWindow.window.length
    if(isLoaded===0) console.log(window.frames['frame'].contentWindow.document.body.innerHTML='未上传论文pdf！')
}
</script>
{% endblock %}