{% extends 'base_admin.html' %}
{% block center %}

<form action="{{url_for('admins.conf_modify_admin',conf_name=conf_home.name)}}" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="exampleInputEmail1">论文题目</label>
        <input type="text" class="form-control" id="exampleInputEmail1" value="{{ conf_home.name }}" name="name">
      </div>
     <div class="form-group">
            <label for="exampleInputEmail1">作者</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="用英文逗号隔开 例如:张三,李四" name="author" value="{{ conf_home.author }}">
        </div>
{#       <div class="form-group">#}
{#        <label for="exampleInputEmail1">作者</label>#}
{#        <table id="author">#}
{#          <tbody>#}
{#          <tr>#}
{#                <td><label for="exampleInputEmail1">作者1</label></td>#}
{#              <td>#}
{#                  <input type="text" class="form-control" id="exampleInputEmail1" value="{{ author[0]['last_name'] }}" name="last_name1">#}
{#              </td>#}
{#              <td>#}
{#                  <input type="text" class="form-control" id="exampleInputEmail1" value="{{ author[0]['first_name'] }}" name="first_name1">#}
{#              </td>#}
{#          </tr>#}
{#          <tr>#}
{#                <td><label for="exampleInputEmail1">作者2</label></td>#}
{#              <td>#}
{#                  <input type="text" class="form-control" id="exampleInputEmail1" value="{{ author[3] }}" name="last_name2">#}
{#              </td>#}
{#              <td>#}
{#                  <input type="text" class="form-control" id="exampleInputEmail1" value="{{ author[2] }}" name="first_name2">#}
{#              </td>#}
{#          </tr>#}
{#          <tr>#}
{#                <td><label for="exampleInputEmail1">作者3</label></td>#}
{#              <td>#}
{#                  <input type="text" class="form-control" id="exampleInputEmail1" value="{{ author[5] }}" name="last_name3">#}
{#              </td>#}
{#              <td>#}
{#                  <input type="text" class="form-control" id="exampleInputEmail1" value="{{ author[4] }}" name="first_name3">#}
{#              </td>#}
{#          </tr>#}
{#          <tr>#}
{#                <td><label for="exampleInputEmail1">作者4</label></td>#}
{#              <td>#}
{#                  <input type="text" class="form-control" id="exampleInputEmail1" value="{{ author[7] }}" name="last_name4">#}
{#              </td>#}
{#              <td>#}
{#                  <input type="text" class="form-control" id="exampleInputEmail1" value="{{ author[6] }}" name="first_name4">#}
{#              </td>#}
{#          </tr>#}
{#          <tr>#}
{#                <td><label for="exampleInputEmail1">作者5</label></td>#}
{#              <td>#}
{#                  <input type="text" class="form-control" id="exampleInputEmail1" value="{{ author[9] }}" name="last_name5">#}
{#              </td>#}
{#              <td>#}
{#                  <input type="text" class="form-control" id="exampleInputEmail1" value="{{ author[8] }}" name="first_name5">#}
{#              </td>#}
{#          </tr>#}
{#          </tbody>#}
{#      </table>#}
{#      </div>#}


        <div class="form-group">
        <label for="exampleInputEmail1">会议名称</label>
        <input type="text" class="form-control" id="exampleInputEmail1" value="{{ conf_home.conf_name }}" name="conf_name">
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">会议组织者</label>
        <input type="text" class="form-control" id="exampleInputPassword1" value="{{ conf_home.organizer }}" name="organizer">
      </div>
        <div class="form-group">
        <label for="exampleInputPassword1">会议日期</label>
        <input type="date" class="form-control"  value="{{ conf_home.conf_dat }}" name="conf_dat">
      </div>
        <div class="form-group">
        <label for="exampleInputPassword1">论文发表日期</label>
        <input type="date" class="form-control" value="{{ conf_home.dat }}" name="dat">
      </div>
        <div class="form-group">
        <label for="exampleInputPassword1">起止页码</label>
        <input type="text" class="form-control" value="{{ conf_home.page }}" name="page">
      </div>
        <div class="form-group">
        <label for="exampleInputPassword1">会议地址</label>
        <input type="text" class="form-control" value="{{ conf_home.address }}" name="address">
      </div>
        <div class="form-group">
        <label for="exampleInputPassword1">文章号</label>
        <input type="text" class="form-control" value="{{ conf_home.num }}" name="num">
      </div>
        <div class="form-group">
        <label for="exampleInputPassword1">DOI号</label>
        <input type="text" class="form-control" value="{{ conf_home.DOI }}" name="DOI">
      </div>
        <div class="form-group">
        <label for="exampleInputEmail1">收录情况</label><br>
        <select class="form-control" name="employ" data-value="{{ conf_home.employ }}">
            <option>SCIE</option>
            <option>SSCI</option>
            <option>EI</option>
            <option>ISTP</option>
            <option>北大中文核心期刊</option>
            <option>其他</option>
        </select>
      </div>
        <div class="form-group">
        <label for="exampleInputPassword1">收录号</label>
        <input type="text" class="form-control" value="{{ conf_home.employ_num }}" name="employ_num">
      </div>
        <div class="form-group">
        <label for="exampleInputEmail1">CCF分区</label><br>
        <select class="form-control" name="ccf" data-value="{{ conf_home.ccf }}">
            <option>A区</option>
            <option>B区</option>
            <option>C区</option>
            <option>无</option>
        </select>
      </div>
        <div class="form-group">
        <label for="exampleInputPassword1">引用次数</label>
        <input type="text" class="form-control"  name="times" value="{{ conf_home.times }}">
      </div>
        <div class="form-group">
        <label for="exampleInputPassword1">论文链接</label>
        <input type="text" class="form-control" name="link" value="{{ conf_home.link }}">
      </div>

        <div class="form-group">
        <label for="exampleInputPassword1">代码链接</label>
        <input type="text" class="form-control" value="{{ conf_home.code_link }}" name="code_link">
      </div>
      <div class="form-group">
        <label for="exampleInputFile">论文附件</label>
        <input type="file" id="exampleInputFile" name="encd" data-value="{{ conf_home.encd }}" value=" {{ conf_home.encd }} ">
      </div>
        <div class="form-group">
        <label for="exampleInputFile">代码附件</label>
        <input type="file" id="exampleInputFile" name="code_encd" data-value="{{ conf_home.code_encd }}" value="{{ conf_home.code_encd }}">
      </div>

      <button type="submit" class="btn btn-default">修改</button>
</form>
{% endblock %}