{% extends 'base_admin.html' %}
{% block center %}
{% if error %}
    <div class="alert alert-danger alert-dismissable" role="alert">
    <strong>提示：</strong>{{ error }}
    </div>
{% endif %}
    <form action="{{ url_for('admins.honor_upload_admin') }}" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="exampleInputEmail1">获得人</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="荣誉称号获得者" name="name" required>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">荣誉称号</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="荣誉称号" name="title" required>
        </div>
        <button type="submit" class="btn btn-default">上传
        </button>
    </form>
{% endblock %}