{% extends 'base_admin.html' %}
{% block center %}
<table class="table table-striped">
            <thead>
            <tr>
                <th scope="col"> 专利名称 </th>
                <th scope="col"> 作者 </th>
                <th scope="col"> 修改 </th>
                <th scope="col"> 删除 </th>
            </tr>
            </thead>
            <tbody>
            {% for row in soft_home %}
            <tr>
                <td>
                    <div class="form-group">
                        <label class="radio-inline">
                            {{ row.name }}
                        </label>
                    </div>
                 </td>
                <td>
                    <div class="form-group">
                        <label class="radio-inline">
{#                            {% for auth in row.summary.author  %}#}
                            {{ row.author}}
{#                            {% endfor %}#}
                        </label>
                    </div>
                 </td>
                    <td>
                        <div class="form-group">
                            <label class="radio-inline">
                                <a class="btn btn-default" href="{{url_for("admins.soft_modify_admin",soft_name=row.name)}}">修改</a>
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label class="radio-inline">
                                 <a class="btn btn-default" href="{{url_for("admins.soft_delete_admin",soft_name=row.name)}}">删除</a>

                            </label>
                        </div>
                    </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock %}