{% extends 'base_admin.html' %}
{% block all %}



    <form action="/admins/user_add" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="exampleInputEmail1">账户</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="账户" name="account">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">密码</label>
            <input type="password" class="form-control" id="exampleInputEmail1" placeholder="密码" name="password">
        </div>

        <div class="form-group">
            <label for="exampleInputPassword1">姓名</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="姓名" name="name">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">英文名</label>
            <input type="text" class="form-control" placeholder="英文名" name="Eng_name">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">用户类别</label><br>
            <label class="radio-inline">
                <input type="radio" name="classify" id="inlineRadio1" value="博士生导师"> 博士生导师
            </label>
            <label class="radio-inline">
                <input type="radio" name="classify" id="inlineRadio2" value="硕士生导师"> 硕士生导师
            </label>
            <label class="radio-inline">
                <input type="radio" name="classify" id="inlineRadio3" value="其他老师"> 其他老师
            </label>
            <label class="radio-inline">
                <input type="radio" name="classify" id="inlineRadio4" value="博士生"> 博士生
            </label>
            <label class="radio-inline">
                <input type="radio" name="classify" id="inlineRadio5" value="硕士生"> 硕士生
            </label>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">email</label>
            <input type="text" class="form-control" placeholder="email" name="email">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Tel</label>
            <input type="text" class="form-control" placeholder="电话号码" name="phone">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">地址</label>
            <input type="text" class="form-control" placeholder="通讯地址" name="address">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">研究方向</label>
            <input type="text" class="form-control" placeholder="研究方向" name="direction">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">个人简介</label>
            <textarea type="text" class="form-control" rows="3" placeholder="个人简介" name="profile"></textarea>
        </div>

        <div class="form-group">
            <label for="exampleInputFile">头像</label>
            <input type="file" id="exampleInputFile" name="avatar">
        </div>
        <button type="button" class="btn btn-default" onclick="judge()">增加
        </button>
    </form>
<script>

    function judge(){
        var obj = document.getElementsByName("classify");
        var objYN = false

        for (i = 0; i < obj.length; i++) {
                if (obj[i].checked === true) {
                    objYN = true;
                    break;
                }
        }
        if(objYN===false){
            alert("至少选择一个用户类别！");
        }
        else {
            document.forms[0].submit()
        }
    }
</script>
{% endblock %}