{% extends 'base_tch.html' %}
{% block center %}

    <form  method="POST" id="formid" enctype="multipart/form-data">
    <div class="form-group">
            <label>bibtex自动导入</label>
            <label for="bib"></label><textarea style="height: 200px" type="text" class="form-control" placeholder="请输入bibtex,点击按钮自动填充" name="bibtex" id="bib"></textarea>
            <button class="btn btn-default" type="button" id="bibtex" onclick="bibtexx()">自动填充</button>
        </div>
    <div class="form-group">
        <label for="exampleInputEmail1"><span style="color:red;">*</span>论文题目</label>
        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="论文题目" name="name" required>
      </div>
{#        ——————————————————————————————作者————————————————————————————#}
       <div class="form-group">
            <label for="exampleInputEmail1"><span style="color:red;">*</span>作者</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="请按BibTex格式输入,例如：Jinhui,Tang and Yan,Song and Xiaoyu,Du" name="author" >
        </div>
        <div class="form-group">
        <label for="exampleInputEmail1"><span style="color:red;">*</span>期刊名称</label>
        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="期刊名称" name="jn_name" >
      </div>
        <div class="form-group">
        <label for="exampleInputPassword1"><span style="color:red;">*</span>论文发表日期</label>
             <input type="text" id="test1" name="dat"  placeholder="论文发表年份" >
{#        <input type="date" class="form-control" placeholder="会议发表日期 例：2000-01-01" name="dat" required>#}
      </div>
        <div class="form-group">
        <label for="exampleInputPassword1">文章号</label>
        <input type="text" class="form-control" placeholder="文章号" name="num">
      </div>
        <div class="form-group">
        <label for="exampleInputEmail1">收录情况</label><br>
        <select class="form-control" name="employ">
            <option>SCIE</option>
            <option>SSCI</option>
            <option>EI</option>
            <option>ISTP</option>
            <option>北大中文核心期刊</option>
            <option>其他</option>
        </select>
      </div>
        <div class="form-group">
        <label for="exampleInputPassword1">收录号</label>
        <input type="text" class="form-control" placeholder="收录号" name="employ_num">
      </div>
        <div class="form-group">
        <label for="exampleInputEmail1">CCF分区</label><br>
        <select class="form-control" name="ccf">
            <option>A区</option>
            <option>B区</option>
            <option>C区</option>
            <option>无</option>
        </select>
      </div>
        <div class="form-group">
        <label for="exampleInputEmail1">CAS分区</label><br>
        <select class="form-control" name="cas">
            <option>一区</option>
            <option>二区</option>
            <option>三区</option>
            <option>四区</option>
            <option>无</option>
        </select>
      </div>
        <div class="form-group">
        <label for="exampleInputEmail1">JCR分区</label><br>
        <select class="form-control" name="jcr">
            <option>一区</option>
            <option>二区</option>
            <option>三区</option>
            <option>四区</option>
            <option>无</option>
        </select>
      </div>
        <div class="form-group">
        <label for="exampleInputPassword1">引用次数</label>
        <input type="text" class="form-control" placeholder="引用次数" name="times">
      </div>
        <div class="form-group">
        <label for="exampleInputPassword1">卷</label>
        <input type="text" class="form-control" placeholder="vol" name="vol">
      </div>
        <div class="form-group">
        <label for="exampleInputPassword1">期号</label>
        <input type="text" class="form-control" placeholder="no" name="no">
      </div>
        <div class="form-group">
        <label for="exampleInputPassword1"><span style="color:red;">*</span>页码</label>
        <input type="text" class="form-control" placeholder="用-隔开，例如：1-5" name="page" >
      </div>
        <div class="form-group">
        <label for="exampleInputPassword1">DOI号</label>
        <input type="text" class="form-control" placeholder="DOI号" name="DOI">
      </div>
        <div class="form-group">
        <label for="exampleInputPassword1">论文链接</label>
        <input type="text" class="form-control" placeholder="论文链接" name="link">
      </div>
        <div class="form-group">
        <label for="exampleInputPassword1">代码链接</label>
        <input type="text" class="form-control" placeholder="代码链接" name="code_link">
      </div>
      <div class="form-group">
        <label for="exampleInputFile"><span style="color:red;">*</span>论文附件(PDF)</label>
        <input type="file" id="exampleInputFile" name="encd">
      </div>
        <div class="form-group">
        <label for="exampleInputFile">代码附件</label>
        <input type="file" id="exampleInputFile" name="code_encd">
      </div>
        <div class="form-group">
        <label for="exampleInputFile"><span style="color:red;">*</span>作者 </label>
            <label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox1" value="第一作者" name="author_classify">第一作者
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox2" value="第二作者" name="author_classify">第二作者
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox3" value="通讯作者" name="author_classify">通讯作者
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox4" value="其他作者" name="author_classify">其他作者
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox5" value="非作者" name="author_classify">非作者
            </label>
      </div>

      <button type="button" class="btn btn-default" onclick="judge_author()">上传</button>
</form>
    <script src="https://unpkg.com/bibtex-js-parser/umd/bibtex-js-parser.js"></script>
    <script>
    layui.use('laydate', function() {
          var laydate = layui.laydate;

          //执行一个laydate实例
          laydate.render({
              elem: '#test1',
              type: 'year'
          });
      })
    function bibtexx() {
            const bibtext=$('#bib').val()
            const bibJSON = BibtexParser.parseToJSON(bibtext);
            console.log(bibJSON[0])
            $('input[name="author"]').val(bibJSON[0].author)
            $('input[name="name"]').val(bibJSON[0].title)
            $('input[name="jn_name"]').val(bibJSON[0].journal)
            $('input[name="dat"]').val(bibJSON[0].year)
            $('input[name="page"]').val(bibJSON[0].pages)
            $('input[name="vol"]').val(bibJSON[0].volume)
            $('input[name="no"]').val(bibJSON[0].number)


    }
    function judge_author(){
        var name=document.getElementsByName("name")
        if(name[0].value===null||name[0].value.trim()==="") {
            alert("请输入论文名！")
            return ;
        }
        var author=document.getElementsByName("author")
        if(author[0].value===null||author[0].value.trim()==="") {
            alert("请输入作者！")
            return ;
        }
        var conf_name=document.getElementsByName("jn_name")
        if(conf_name[0].value===null||conf_name[0].value.trim()==="") {
            alert("请输入期刊名称！")
            return ;
        }
        var dat=document.getElementsByName("dat")
        if(dat[0].value===null||dat[0].value.trim()==="") {
            alert("请输入论文发表日期！")
            return ;
        }
        var page=document.getElementsByName("page")
        if(page[0].value===null||page[0].value.trim()==="") {
            alert("请输入起始页码！")
            return ;
        }
        var obj1 =document.getElementById("inlineCheckbox1");
        var obj2 =document.getElementById("inlineCheckbox2");
        var obj3 =document.getElementById("inlineCheckbox3");
        var obj4 =document.getElementById("inlineCheckbox4");
        var obj5 =document.getElementById("inlineCheckbox5");
        var objYN=false;
        if(obj1.checked||obj2.checked||obj3.checked||obj4.checked||obj5.checked) objYN=true;
        if(objYN===false){
            alert("至少选择一个作者！");
        }
        else {
            var data = new FormData($("#formid")[0]);
             data.append('account',{{ account_url.account|tojson }})
            $.ajax({
                type: 'POST',
                url: "/journal/jn_upload_back",
                data: data,
                dataType: 'json',
                cache: false,//上传文件无需缓存
                processData: false,//用于对data参数进行序列化处理 这里必须false
                contentType: false, //必须
                success: function (data) {
                    if (data['error'] === 1) {
                        layer.msg(data['msg'], {
                            icon: 2,
                            time: 1000,
                            offset: 't',
                        });
                    } else {
                        layer.msg(data['msg'], {
                            icon: 1,
                            time: 1000,
                            offset: 't',
                        })
                        {#window.location.href=data['url']#}
                        tiao(data['url'])
                    }
                }
            })
        }
    }
    async function tiao(url){
                setTimeout(() => {
                    window.location.href=url
                }, 1000);
        }
    </script>
{% endblock %}