{% extends 'base.html' %}
{% block all %}

  <div class="card">
    <div class="card-body">
        <table class="table table-hover table-bordered table-striped">
            <thead class="thead-light">
                <tr>
                    <th scope="col">序号</th>
                    <th scope="col">项目名</th>
                    <th scope="col">项目负责人</th>
{#                    <th scope="col">项目级别</th>#}
{#                    <th scope="col">项目开始时间</th>#}
{#                    <th scope="col">项目截至时间</th>#}
{#                    <th scope="col">项目费用</th>#}
{#                    <th scope="col">直接经费</th>#}
                    <th scope="col">项目来源</th>
                </tr>

            </thead>
            <tbody>
            {% for row in prog %}

                <tr>
                    <td> {{ loop.index }}</td>
                    <td> {{ row.name }}</td>
                    <td> {{ row.principal }}</td>
{#                    <td> {{ row.level}}</td>#}
{#                    <td> {{ row.start_time }}</td>#}
{#                    <td> {{ row.deadline}}</td>#}
{#                    <td> {{ loop.cost }}</td>#}
{#                    <td> {{ row.fund }}</td>#}
                    <td> {{ row.pro_source }}</td>
            {% endfor %}



                </tr>

            </tbody>
        </table>
    </div>
</div>
<script>
    $(document).ready(function() {
        document.getElementById("gra_id").className="active";
 })
</script>

{% endblock %}