{% extends 'base_tch.html' %}
{% block head %}
	<link rel="stylesheet" href="../../static/editor.md-master/css/editormd.css" />
{% endblock %}
{% block center %}
    <form id="formid" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="exampleInputEmail1">新闻标题</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="新闻标题" name="title" required>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">发布人</label>
            <input type="text" class="form-control" id="exampleInputEmail2" placeholder="发布人" name="publisher"  required>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">分类</label>
            <input type="text" class="form-control" placeholder="分类" name="classify" id="publisher">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">日期</label>
            <input type="date" class="form-control" placeholder="日期" id="dat" name="dat">
        </div>
    <label for="exampleInputPassword1">内容</label><button type="button"  id="preview" class="btn btn-info" onclick="previeww()">预览</button><button type="button"  id="preview" class="btn btn-info" onclick="unprevieww()">取消预览</button>
 </form>
{% endblock %}
{% block all %}
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="../../static/editor.md-master/editormd.min.js"></script>
    <div id="articleContainer">
		<textarea class="editormd-markdown-textarea" name="markdownText" id="origin"></textarea>
    <textarea class="editormd-markdown-textarea" style="display: none" name="text" id="originhtml"> </textarea>
	</div>
    <button class="btn btn-primary" type="button" id="submit" onclick="confirmm()">上传</button>
    <script type="text/javascript">function unprevieww() {
        editor.unwatch()

    }


    function confirmm() {
            let data={}
            data['classify']=''
            data['markdowndata']=''
            data['name']=$('#exampleInputEmail1').val()
            data['publisher']=$('#exampleInputEmail2').val()
            data['classify']=$('#publisher').val()
            data['markdowndata']=$('#origin').val()
            data['dat']=$('#dat').val()
            console.log(data)
        $.ajax({
                type: 'POST',
                url: "/news/news_upload_back",
                data: JSON.stringify(data),
                contentType: 'application/json; charset=UTF-8',
                dataType: 'json',
                success: function (data) {
                    if (data['error'] === 1) {
                        layer.msg(data['msg'], {
                            icon: 2,
                            time: 1000,
                            offset: 't',
                        });
                    } else {
                        layer.msg(data['msg'], {
                            icon: 1,
                            time: 1000,
                            offset: 't',
                        })
                    }
                }
            })
    }
    var editor;
    $(function() {
	         editor = editormd("articleContainer", {
	            width  : "100%",
	            height : "500",//不能使用百分比，使用后，将根据内容自动收放
	            watch  : false,//是否开启预览
	            markdown: "",//markdown文本内容
	            saveHTMLToTextarea: true,    // 是否将文本保存 HTML 到 Textarea
	            path   : "../../static/editor.md-master/lib/",
	            imageUpload : true,//是否开启图片自动上传
                imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],//可上传的图片格式
                imageUploadURL : "/news/upload",
	        });
	    });
    function previeww() {
            editor.watch()
    }

	</script>
{% endblock %}
